@mixin button($mode, $color-1, $color-2: $color-1) {
  border-color: $color-1;

  @if $mode == fill {
    background-color: $color-1;
    color: $color-white;

    &:hover, &:active {
      background-color: $color-white;
      color: $color-2;
    }

    &:disabled, &:disabled:hover, &:disabled:active, &.disabled, &.disabled:hover, &.disabled:active {
      background-color: $color-2;
      color: $color-white;
    }
  } @else {
    background-color: $color-white;
    color: $color-2;

    &:hover, &:active {
      background-color: $color-1;
      color: $color-white;
    }

    &:disabled, &:disabled:hover, &:disabled:active, &.disabled, &.disabled:hover, &.disabled:active {
      background-color: $color-white;
      color: $color-2;
    }
  }
}

@mixin checkbox($color, $size, $bg-color: $color) {
  .checkbox {
    display: inline-block;
    font-size: #{$size}px;

    input {
      display: none;
    }

    label {
      display: inline-block;
      padding-left: #{$size + 8}px;
      position: relative;
      color: $color;
      line-height: #{$size * 2}px;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: #{$size}px;
        height: #{$size}px;
        border: 1px solid $bg-color;
        left: 0;
        top: #{round($size / 2)}px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: #{round($size / 4)}px;
        height: #{$size - 8}px;
        border: 2px solid $color-white;
        border-top: 0;
        border-left: 0;
        left: #{round($size * 3 / 8)}px;
        top: #{round($size / 2 + 4)}px;
        transform: rotate(43deg);
      }
    }

    input:checked + label::before {
      background-color: $bg-color;
    }

    input:not(:checked) + label::before {
      background-color: $color-white;
    }

    a {
      display: inline;
      color: $color-green-3;
      text-decoration: underline;
      line-height: #{$size * 2}px;

      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
}

@mixin filter-dropdown($image) {
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    padding-left: 8px;
    background-image: url(../images/#{$image});
    background-position: center;
    background-repeat: no-repeat;
  }
}

.avatar {
  display: block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.1);
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .page {
    display: block;
    padding: 4px;
    margin: 6px 8px;
    font-size: 30px;
    line-height: 32px;
    color: $color-green-2;

    &:hover, &:active {
      color: $color-pink-3;
    }

    &[href='#'] {
      color: $color-pink-3;
      border-bottom: 1px solid $color-pink-3;
      cursor: default;
    }
  }
}

[data-unit]::after {
  content: attr(data-unit);
  margin-left: 4px;
}

.textarea {
  display: block;
  width: 100%;
  min-height: 212px;
  padding: 8px 16px;
  margin-bottom: 17px;
  border: 2px solid $color-green-3;
  font-size: 16px;
  line-height: 16px;
  color: $color-gray-10;
  resize: vertical;
}

.quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $color-green-12;

  .quantity-number {
    display: block;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    color: $color-green-3;
  }

  .quantity-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 58px;
    border-left: 1px solid $color-green-12;

    .quantity-btn {
      display: block;
      color: $color-green-3;

      &:hover, &:active {
        color: $color-yellow-1;
      }

      &.disabled, &.disabled:hover, &.disabled:active {
        color: $color-gray-13;
        cursor: not-allowed;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      &.quantity-plus svg {
        transform: rotate(180deg);
      }
    }
  }
}

.tabs-header-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 2px solid $color-gray-16;

  @media (max-width: 565px) {
    justify-content: space-around;
  }

  h2 {
    margin-right: 140px;

    @media (max-width: 565px) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .tabs-header {
      display: block;
      position: relative;
      font-weight: 600;
      font-size: 25px;
      line-height: 34px;
      color: $color-gray-13;
      padding: 8px 38px 8px 0;

      @media (max-width: 565px) {
        font-size: 22px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        width: 35px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.active {
        cursor: default;
      }

      &.active, &:hover, &:active {
        color: $color-green-3;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          border: 1px solid $color-green-3;
        }
      }
    }
  }
}

.webp_on .tabs-header-wrap h2 .tabs-header::before {
  background-image: url(../images/product-leaf.webp);
}

.webp_off .tabs-header-wrap h2 .tabs-header::before {
  background-image: url(../images/product-leaf.png);
}

.tabs-content-wrap {
  display: block;
  padding-top: 60px;

  @media (max-width: 979px) {
    padding-top: 32px;
  }

  .tabs-content {
    display: none;

    &.active {
      display: block;
    }

    &.description {
      position: relative;
      max-width: 876px;

      .description-outer {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;

        p {
          display: block;
          margin: 0;
          font-size: 20px;
          line-height: 32px;
          color: $color-gray-9;
        }

        .show_description {
          display: block;
          padding-left: $layout-padding;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 13px;
          line-height: 32px;
          color: $color-green-4;
          background-color: $color-gray-4;

          &:hover, &:active {
            color: $color-yellow-3;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            background: linear-gradient(to right, transparent, $color-gray-4);
            width: 50px;
          }
        }
      }
    }

    &.reviews {

      .link {
        display: inline;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        color: $color-yellow-3;

        &:hover, &:active {
          color: $color-green-4;
        }
      }

      .review {
        display: block;
        max-width: 750px;
        margin: 40px 0;

        .title {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 14px;

          .date {
            display: block;
            margin-right: 16px;
            font-family: $font-family-secondary;
            font-size: 14px;
            line-height: 18px;
            color: $color-gray-18; // $color-gray-11
          }

          .name {
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 34px;
            color: $color-green-2;
          }
        }

        .text {
          display: block;
          font-size: 20px;
          line-height: 32px;
          color: $color-gray-9;
        }
      }
    }
  }
}

.spinner {
  display: block;

  svg {
    display: inline-block;
    height: 1em;
    overflow: visible;
    animation: pulse 1s infinite steps(8);
    font-size: 1em;
    vertical-align: -.125em;
  }
}

@keyframes pulse{
  0%{transform: rotate(0deg)} to {transform: rotate(1turn)}
}