$layout-width: 1170px;
$layout-padding: 10px;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: Muli, sans-serif;

$heading-line_height: 34px;

$color-gray-4: #F3FCF6;
$color-gray-2: #F8F8F8;
$color-gray-7: #EEEEEE;
$color-gray-15: #E2DCDC;
$color-gray-16: #C4C4C4;
$color-gray-8: #BCBCBC;
$color-gray-3: #A7A7A7;
$color-gray-19: #A6A1A1;
$color-gray-12: #9FA7A2;
$color-gray-11: #797979;
$color-gray-18: #767676;
$color-gray-19: #888888;
$color-gray-13: #828282;
$color-gray-6: #736C6C;
$color-gray-10: #545454;
$color-gray-9: #4F4F4F;
$color-gray-20: #3B3F3B;
$color-gray-14: #393939;
$color-gray-5: #333131;

$color-black: #000000;
$color-white: #FFFFFF;

$color-red: #EA2828;
$color-red-2: #D27A6E;

$color-yellow-1: #A4CC70;
$color-yellow-2: #E6D012;
$color-yellow-3: #5DBC30;

$color-pink-1: #FFEBE4;
$color-pink-2: #FFD2C2;
$color-pink-3: #F9BAA9;

$color-green-1: #0E240E;
$color-green-10: #082C05;
$color-green-2: #00370C;
$color-green-3: #116708;
$color-green-12: #197D23;
$color-green-4: #219653;
$color-green-5: #6FCF97;
$color-green-6: #53735E;
$color-green-13: #9BAF93;
$color-green-8: #C7EDD4;
$color-green-7: #DFF4E6;
