.grid.card-favorite .cell .card {
  display: block;
  max-width: 256px;
  padding: 0 20px;
  margin: 0 auto 56px;
  position: relative;
  z-index: 0;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  .photo {
    display: block;
    width: 100%;
    height: 245px;
    margin: 0 auto 16px;
    position: relative;

    .new {
      top: 0;
      left: 0;
    }

    .sale {
      top: 0;
      right: 0;
    }

    img {
      background-color: $color-white;
    }
  }

  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 44px;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $color-black;

    &:hover, &:active {
      color: $color-gray-9;
    }
  }

  .price {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: $color-black;
    margin-bottom: 24px;

    @media (max-width: 505px) {
      margin-bottom: 16px;
    }
  }

  .btn {
    width: 140px;
    margin-bottom: 12px;

    &.added {
      .basket {
        display: none;
      }

      .bag {
        display: block;
      }
    }

    &:not(.added) {
      .basket {
        display: block;
      }

      .bag {
        display: none;
      }
    }
  }

  .delete {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $color-gray-9;
    max-width: 140px;
    margin: 0 auto;

    &:hover, &:active {
      color: $color-red;
    }

    svg {
      width: 11px;
      height: 11px;
      margin-right: 8px;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 19px;
    }
  }
}