.grid.card-product .cell .card {
  display: block;
  max-width: 256px;
  padding: 20px 20px 0;
  margin: 0 auto 42px;
  position: relative;
  z-index: 0;

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }

  &.added {
    background-color: $color-pink-1;

    .buy {
      background-color: $color-yellow-1;
      color: $color-white;
      border-color: $color-pink-1;
    }

    .sale {
      background-color: $color-white;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 47px;
    background-color: $color-white;
    z-index: 1;
  }

  .like {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26px;
    left: 26px;
    width: 28px;
    height: 26px;
    padding: 3px;
    color: $color-green-3;
    background-color: $color-white;
    z-index: 1;

    &:not(.added):hover, &:not(.added):active {
      color: $color-black;
    }

    &.added:hover, &.added:active {
      color: $color-yellow-1;
    }

    &.added {
      .in-like {
        display: block;
      }

      .to-like {
        display: none;
      }
    }

    &:not(.added) {
      .in-like {
        display: none;
      }

      .to-like {
        display: block;
      }
    }
  }

  .new {
    top: 26px;
    right: 30px;
  }

  .sale {
    top: 26px;
    right: 30px;
  }

  .photo {
    display: block;
    width: 100%;
    height: 245px;
    margin: 0 auto 16px;

    img {
      background-color: $color-white;
    }
  }

  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 44px;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $color-black;

    &:hover, &:active {
      color: $color-gray-9;
    }
  }

  .prices {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    margin: 0 auto 24px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: 505px) {
      margin-bottom: 16px;
    }

    .old-price {
      display: block;
      position: relative;
      color: $color-red-2;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        left: -2px;
        right: -2px;
        height: 1px;
        background-color: $color-red-2;
      }
    }

    .price {
      display: block;
      font-weight: 600;
      color: $color-black;
    }
  }

  .buy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $color-white;
    width: 94px;
    height: 94px;
    margin: 0 auto;
    border: 10px solid $color-white;
    border-radius: 50%;
    background-color: $color-gray-3;
    position: relative;
    z-index: 2;

    &:hover, &:active {
      background-color: $color-green-3;
    }

    .basket {
      width: 24px;
      height: 24px;
    }
  }
}