#content-reviews {
  display: block;
  background-color: $color-white;
  padding: 55px 0 0;

  @media (max-width: 1023px) {
    padding: 30px 0 0;
  }

  @media (max-width: 767px) {
    padding: 15px 0 20px;
  }
}