#content-basket {
  display: block;
  padding: 16px 0 30px;

  .positions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    @media (min-width: 566px) and (max-width: 811px) {
      flex-direction: row;
      border-top: 1px solid $color-gray-19;
    }

    .position {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      padding: 40px 0;

      &:nth-child(2n + 1) {
        background-color: $color-gray-4;

        .photo {
          border-color: $color-white;
        }
      }

      &:nth-child(2n) {
        background-color: $color-white;

        .photo {
          border-color: $color-gray-4;
        }
      }

      @media (min-width: 566px) and (max-width: 811px) {
        width: 50%;
        border-bottom: 1px solid $color-gray-19;

        &:nth-child(2n + 1) {
          background-color: $color-white;
          border-right: 1px solid $color-gray-19;
        }

        &:nth-child(2n) {
          .photo {
            border-color: $color-white;
          }
        }
      }

      .layout {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 811px) {
          flex-direction: column;
          align-items: stretch;
          flex-wrap: wrap;
        }

        .photo {
          width: 140px;
          height: 140px;
          min-width: 140px;
          padding: $layout-padding / 2;
          margin-right: 40px;
          background-color: $color-white;
          border-width: $layout-padding / 2;
          border-style: solid;

          @media (max-width: 811px) {
            align-self: center;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }

        .info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: stretch;

          .top {
            display: block;
            margin-bottom: 28px;

            @media (max-width: 811px) {
              text-align: center;
              flex-grow: 1;
            }

            a {
              display: inline;
              font-size: 22px;
              line-height: 30px;
              color: $color-green-2;

              &:hover, &:active {
                color: $color-green-4;
              }
            }
          }

          .bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 811px) {
              flex-direction: column;
              flex-wrap: wrap;
            }

            .price {
              display: flex;
              flex-basis: 10px;
              margin-right: 16px;
              flex-grow: 1;
              font-weight: 300;
              font-size: 22px;
              line-height: 30px;
              color: $color-green-3;

              @media (max-width: 811px) {
                margin-right: 0;
                margin-bottom: 20px;
              }

              span {
                font-weight: 300;
              }
            }

            .quantity {
              width: 200px;
              margin-right: 16px;

              @media (max-width: 811px) {
                margin-right: 0;
                margin-bottom: 20px;
              }
            }

            .sum {
              display: flex;
              justify-content: flex-end;
              flex-basis: 10px;
              flex-grow: 1;
              margin-right: 16px;
              font-size: 24px;
              line-height: 32px;
              color: $color-green-3;

              @media (max-width: 811px) {
                margin-right: 0;
                margin-bottom: 20px;
              }
            }

            .delete {
              display: flex;
              width: 20px;
              align-self: flex-start;
              font-size: 20px;
              color: $color-gray-9;

              &:hover {
                color: $color-gray-13;
              }

              &.disabled, &.disabled:hover, &.disabled:active {
                color: $color-gray-13;
                cursor: not-allowed;
              }

              @media (max-width: 811px) {
                align-self: center;
              }
            }
          }
        }
      }
    }
  }

  .summary {
    display: block;
    border-top: 1px solid $color-green-3;
    padding-top: 30px;
    padding-bottom: 72px;

    @media (min-width: 566px) and (max-width: 811px) {
      border-top: none;
    }

    /*
    .promo-form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 40px;

      @media (max-width: 609px) {
        flex-direction: column;
        align-items: stretch;
      }

      .left {
        display: block;
        min-width: 320px;

        @media (max-width: 1023px) {
          flex-grow: 1;
          min-width: auto;
        }

        label {
          display: block;
          margin-bottom: 6px;
          font-size: 14px;
          line-height: 19px;
          color: $color-gray-19;

          &[data-error]::after {
            content: attr(data-error);
            color: $color-red;
          }
        }

        .input {
          display: block;
          width: 100%;
          height: 50px;
          padding: 0 16px;
          border: 2px solid $color-green-3;
          font-size: 16px;
          color: $color-gray-10;
          background-color: $color-white;
        }
      }

      .right {
        min-width: 240px;
        margin-left: 17px;

        @media (max-width: 609px) {
          margin-left: 0;
          margin-top: 17px;
        }

        .btn-promo {
          width: 100%;
          min-height: 50px;
        }
      }
    }
*/

    .top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 44px;
      font-size: 26px;
      line-height: 35px;

      @media (max-width: 565px) {
        justify-content: center;
      }

      .summary-text {
        display: block;
        color: $color-gray-19;
        margin-right: 8px;
      }

      .summary-total {
        display: flex;
        color: $color-green-3;
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      margin: 0 #{-$layout-padding};

      .btn {
        margin: 0 $layout-padding 20px;
        width: 240px;

        @media (max-width: 565px) {
          width: 100%;
        }
      }
    }
  }
}