.section-grid {
  display: block;

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 #{-$layout-padding};

    .cell {
      display: block;
      padding: 0 $layout-padding;
      flex-grow: 1;

      .new {
        display: block;
        position: absolute;
        color: $color-green-4;
        line-height: 27px;
        font-size: 24px;
        background-color: $color-white;
        z-index: 1;
      }

      .sale {
        display: block;
        position: absolute;
        z-index: 1;
        font-weight: 600;
        font-size: 14px;
        line-height: 27px;
        color: $color-gray-10;
        width: 60px;
        text-align: center;
        background-color: $color-pink-1;
      }

      .prices {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        margin: 0 auto 24px;
        font-size: 16px;
        line-height: 22px;

        @media (max-width: 535px) {
          margin-bottom: 16px;
        }

        .old-price {
          display: block;
          position: relative;
          color: $color-red-2;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: -2px;
            right: -2px;
            height: 1px;
            background-color: $color-red-2;
          }
        }

        .price {
          display: block;
          font-weight: 600;
          color: $color-black;
        }
      }

      .btn {
        margin-top: 32px;
      }
    }

    &.column-1 .cell {
      flex-basis: 100%;
    }

    &.column-3 .cell {
      flex-basis: 33%;

      @media (max-width: 1111px) {
        flex-basis: 50%;
      }

      @media (max-width: 535px) {
        flex-basis: 100%;
      }
    }

    &.column-4 .cell {
      flex-basis: 25%;

      @media (max-width: 1111px) {
        flex-basis: 33%;
      }

      @media (max-width: 767px) {
        flex-basis: 50%;
      }

      @media (max-width: 535px) {
        flex-basis: 100%;
      }
    }

    &.column-4.row-1 .cell {
      @media (min-width: 768px) and (max-width: 1111px) {
        &:nth-child(4n) {
          display: none;
        }
      }
    }
  }

  h1 {
    display: block;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
    line-height: $heading-line_height;
    color: $color-green-3;

    @media (max-width: 565px) {
      margin-bottom: 34px;
      text-align: center;
    }
  }

  h2 {
    display: block;
    margin-bottom: 42px;
    font-size: 25px;
    font-weight: 600;
    line-height: $heading-line_height;
    color: $color-green-1;

    @media (max-width: 565px) {
      margin-bottom: 34px;
      text-align: center;
    }
  }

  .btn {
    width: 240px;
    margin: 42px auto 0;
  }

  .original-card {
    display: none;
  }
}

.grid.card-favorite .cell .card,
.grid.card-review .cell .card {
  .photo {
    display: block;
    width: 100%;
    height: 245px;
    margin: 0 auto 16px;

    img {
      background-color: $color-white;
    }
  }

  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 44px;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $color-black;

    &:hover, &:active {
      color: $color-gray-9;
    }
  }
}