#slider {
  display: block;
  height: 450px;

  @media (max-width: 1169px) {
    height: calc(100vw * 450 / 1170);
  }

  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 4 * $layout-padding + 2 * 40 + $layout-width - 1px) {
    .slick-dots {
      bottom: -48px;
    }
  }

  .slide {
    display: block;

    img {
      max-width: 100%;
      height: 450px;
      margin: 0 auto;
      object-fit: cover;

      @media (max-width: $layout-width - 1px) {
        height: auto;
      }
    }
  }
}